@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <NavLink class="nav-link" href="about">
                <span class="ms-Icon ms-Icon--Info" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
