@inherits LayoutComponentBase
@inject AppDataServiceSingleton DataServiceSingleton
@using BlazorFluentUI.Routing;

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="container">
        @*<div class="top-row px-4">
            <NavLink class="nav-link" href="about">
                About
            </NavLink>
        </div>*@
        <div class="top-row px-4">
            <Stack Style="width:100%;">
                <NavBar Header="Auto Schedule" Direction="LayoutDirection.Horizontal" Items=@navItems
                        Style="vertical-align:central;">
                    <FooterTemplate>
                        <Label Style="vertical-align: central;display: block;padding: .5rem 1rem">
                            @DataServiceSingleton.Term
                        </Label>
                        <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link" href="about">
                            About
                        </Microsoft.AspNetCore.Components.Routing.NavLink>
                    </FooterTemplate>
                </NavBar>
            </Stack>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private List<NavBarItem> navItems;

    protected override Task OnInitializedAsync()
    {
        navItems = new List<NavBarItem> {
            new NavBarItem { Text= "Home", Url="", NavMatchType= NavMatchType.AnchorOnly, Id="home", IconName="Home", Key="1"},
            new NavBarItem { Text= "Schedule", Url="schedulepage", NavMatchType= NavMatchType.AnchorOnly, Id="schedulePage", IconName="Calendar", Key="3" },
        };

        return base.OnInitializedAsync();
    }
}
