@page "/about"
@inject AppDataService DataService

<h3>About</h3>
<br/>

<h4>Information</h4>
<p>This app is built with Blazor Server on ASP.NET Core 5.0.</p>
<p>Sourcs code can be viewed on <a href="https://github.com/myfix16/AutoSchedule">GitHub</a></p>
<p>Version: @DataService.Version</p>

<h4>Found a bug? Want new features?</h4>
<p>
    If you have found a bug within the app or want to suggest new features, please file an issue on GitHub Issue Page: <br/>
    <a href="https://github.com/myfix16/AutoSchedule/issues/new">New Issue</a>
</p>

<h4>Dependencies and References</h4>
<p>
    <a href="https://www.syncfusion.com/blazor-components">Syncfusion Blazor Components</a>
</p>

<h4>Disclaimer</h4>
<p>THIS CODE AND INFORMATION IS PROVIDED ‘AS IS’ WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT
NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.</p>
<p>Copyright (c) myfix16. All rights reserved.</p>

@code {

}
