#available-courses-section {
    width: 48%;
    float: left;
}

#selected-courses-section {
    width: 48%;
    float: right;
}

#course-list-label-section {
    width: 50%;
    float: left;
}

#course-filter-section {
    width: 50%;
    float: right;
}

.view-schedule{
    display: block;
    height: auto;
    width: auto;
    margin: auto;
    margin-left: 50px;
    font-size: 24px;
}