@page "/schedulepage"
@inject AppDataService DataService
@inject AppDataServiceSingleton DataServiceSingleton

<h3 class="ms-fontSize-42 ms-fontWeight-regular">Schedules</h3>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <AcademicCalendar @ref=academicCalendar @bind-ScheduleSource=ScheduleSource />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-9">
            <SfGrid DataSource="@DataServiceSingleton.AvailableSessionsFlat"
                    Height=@courseSelectionHeight>
            </SfGrid>
        </div>
        <div class="col-lg-3">
            <SfListView DataSource="@DataService.CurrentSchedule.Sessions"
                        Height=@courseSelectionHeight
                        ShowHeader="true"
                        HeaderTitle="Selected Sessions">
                <ListViewFieldSettings TValue="Session" Id="Code" Text="Name"/>
            </SfListView>
        </div>
    </div>
    <br />
    <br />
</div>

@code {
    // TODO: Enable UI virtualization for gridview.
    private string courseSelectionHeight = "500px";

    private AcademicCalendar academicCalendar;

    private Schedule _scheduleSource;
    [Parameter]
    public Schedule ScheduleSource
    {
        get => _scheduleSource;
        set { _scheduleSource = value; }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // The data service must be prepared before the AcademicCalendar control is rendered.
        // TODO: Find a solution for this issue.
        DataService.InitializeAsync(DataServiceSingleton);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ScheduleSource = DataService.CurrentSchedule.ShallowCopy();
    }
}