@*<div class="spinner" />
<br />
<div id="fetching-message">Fetching class data...</div>*@

<div id="loading-indicator">
    <BFUSpinner Label="Fetching class data..." Size="SpinnerSize.Large" />
</div>